go/cmd/wtail/wtail
vue/npm-debug.log
go/cmd/wtailf/wtail
go/cmd/wtailf/wtailf
go/cmd/wtailf/dist
go/cmd/wtailf/__debug_bin
go/.temp
go/cmd/wtailf/wtailf.exe
go/cmd/wtailf/packrd
go/cmd/wtailf/main-packr.go
go/cmd/wtailf/*.crt
